<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0000</key>
	<string>0000.娇媚.jpg</string>
	<key>0001</key>
	<string>0001.半遮脸.jpg</string>
	<key>0002</key>
	<string>0002.含指.jpg</string>
	<key>0003</key>
	<string>0003.林志玲.jpg</string>
	<key>0004</key>
	<string>0004.车模.jpg</string>
	<key>0005</key>
	<string>0005.冰冰.jpg</string>
	<key>0006</key>
	<string>0006.短牛仔.jpg</string>
	<key>0007</key>
	<string>0007.高雅.jpg</string>
	<key>0008</key>
	<string>0008.西洋美女.jpg</string>
	<key>0009</key>
	<string>0009.可爱.jpg</string>
	<key>0010</key>
	<string>0010.awer.jpg</string>
	<key>0011</key>
	<string>0011.车模.jpg</string>
	<key>0012</key>
	<string>0012.西洋红女.jpg</string>
	<key>0013</key>
	<string>0013.冰冰.jpg</string>
	<key>0014</key>
	<string>0014.苍井空1.jpg</string>
	<key>0015</key>
	<string>0015.凃唇.jpg</string>
	<key>0016</key>
	<string>0016.shishi.jpg</string>
	<key>0017</key>
	<string>0017.白鸽.jpg</string>
	<key>0018</key>
	<string>0018.萝莉2.jpg</string>
	<key>0019</key>
	<string>0019.清纯.jpg</string>
	<key>0020</key>
	<string>0020.韩国.jpg</string>
	<key>0021</key>
	<string>0021.白衣.jpg</string>
	<key>0022</key>
	<string>0022.摄影.jpg</string>
	<key>0023</key>
	<string>0023.车模.jpg</string>
	<key>0024</key>
	<string>0024.古典.jpg</string>
	<key>0025</key>
	<string>0025.粉嫩可爱.jpg</string>
	<key>0026</key>
	<string>0026.西洋.jpg</string>
	<key>0027</key>
	<string>0027.dance.jpg</string>
	<key>0028</key>
	<string>0028.fwq.jpg</string>
	<key>0029</key>
	<string>0029.人比花艳.jpg</string>
	<key>0030</key>
	<string>0030.高圆圆.jpg</string>
	<key>0031</key>
	<string>0031.朋克女.jpg</string>
	<key>0032</key>
	<string>0032.半遮眼.jpg</string>
	<key>0033</key>
	<string>0033.Scarlett Johansson.jpg</string>
	<key>0034</key>
	<string>0034.laugh.jpg</string>
	<key>0035</key>
	<string>0035.街道.jpg</string>
	<key>0036</key>
	<string>0036.LadyGaga.jpg</string>
	<key>0037</key>
	<string>0037.Taylor Swift.jpg</string>
	<key>0038</key>
	<string>0038.angleBaby.jpg</string>
	<key>0039</key>
	<string>0039.章子怡.jpg</string>
	<key>0040</key>
	<string>0040.西洋.jpg</string>
	<key>0041</key>
	<string>0041.菊花.jpg</string>
	<key>0042</key>
	<string>0042.白衣.jpg</string>
	<key>0043</key>
	<string>0043.闻花.jpg</string>
	<key>0044</key>
	<string>0044.屋顶.jpg</string>
	<key>0045</key>
	<string>0045.邻家女孩.jpg</string>
	<key>0046</key>
	<string>0046.sweet.jpg</string>
	<key>0047</key>
	<string>0047.车模.jpg</string>
	<key>0048</key>
	<string>0048.允儿.jpg</string>
	<key>0049</key>
	<string>0049.西洋.jpg</string>
	<key>0050</key>
	<string>0050.韩国车模.jpg</string>
	<key>0051</key>
	<string>0051.水手.jpg</string>
	<key>0052</key>
	<string>0052.长椅.jpg</string>
	<key>0053</key>
	<string>0053.微笑.jpg</string>
	<key>0054</key>
	<string>0054.zhaowei.jpg</string>
	<key>0055</key>
	<string>0055.公主裙.jpg</string>
	<key>0056</key>
	<string>0056.车模.jpg</string>
	<key>0057</key>
	<string>0057.娇俏.jpg</string>
	<key>0058</key>
	<string>0058.娇俏.jpg</string>
	<key>0059</key>
	<string>0059.徐若瑄.jpg</string>
	<key>0060</key>
	<string>0060.李贞贤.jpg</string>
</dict>
</plist>
